include __init__.py
include requirements.txt
include cloudmesh/__init__.py
include cloudmesh/configuration/etc/cloudmesh.yaml
include cloudmesh/configuration/etc/name.yaml
recursive-include cloudmesh *.yaml
exclude .gitignore
exclude .gitreview
